


@media (min-width: 1400px) {
    .container, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container-xl, 
    .container-xxl {
        max-width: 1000px;
    }
}


.blog-card {
    background: #FFFFFF;
}

.blog-card .blog-card-image{
    height: 250px;
    background-position: center;
    background-size: cover;
}


